use TokStk_db
GO

PRINT '----------------------------------------------'
PRINT 'Drop T2TILABL Table'
PRINT '----------------------------------------------'
PRINT ''
DROP   TABLE dbo.[T2TILABL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T2TILABL](
        [LABL_ID]      INT      IDENTITY(1,1),       /*고유 ID   */  
        [LABL_INDEX]      [varchar](13)   DEFAULT(''),
        [LABL_CODE]       [varchar](18)    DEFAULT(''),  
        [LABL_NAME]       [varchar](100)  DEFAULT(''),   	
       	[LABL_LOTNO]      [varchar](20)   DEFAULT(''),        
	[LABL_QTY]        NUMERIC(7,2)    DEFAULT(0),   
        [LABL_LOCA]       [varchar](5)    DEFAULT(''),      
	[LABL_BOXNO]      [varchar](30)   DEFAULT(''),
        [LABL_DATE]       [varchar](08)   DEFAULT(''),                 
	[LABL_TIME]       [varchar](06)   DEFAULT(''), 
        [LABL_REMARK]     [varchar](30)   DEFAULT(''),         
	[UPDATE_YN]       [varchar](01)   DEFAULT('N'),          
 CONSTRAINT [PK_T2TILABL_PKEY] PRIMARY KEY CLUSTERED 
(
	[LABL_ID] ASC	
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF