USE [Tokstk_db]
GO
/****** 개체:  Table [dbo].[TIODAT]    스크립트 날짜: 02/28/2019 18:45:50 ******/
DROP   TABLE T2TIODAT
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T2TIODAT](
	[ODAT_DATE] [varchar](8) NOT NULL,
	[ODAT_CHASU] [varchar](3) NOT NULL,
	[ODAT_CODE] [varchar](18) NOT NULL DEFAULT (''),
	[ODAT_LOTNO] [varchar](20) NOT NULL DEFAULT (''),
	[ODAT_CUST] [varchar](30) NOT NULL DEFAULT (''),
	[ODAT_LOCA] [varchar](5) NOT NULL DEFAULT (''),
	[ODAT_QTY] [numeric](7, 2) NULL DEFAULT ((0)),
	[ODAT_RQTY] [numeric](7, 2) NULL DEFAULT ((0)),
	[ODAT_JQTY] [numeric](7, 2) NULL DEFAULT ((0)),
	[ODAT_INDATE] [varchar](8) NULL DEFAULT (''),
	[ODAT_INTIME] [varchar](6) NULL DEFAULT (''),
	[ODAT_BOXNO] [varchar](30) NULL DEFAULT (''),
	[ODAT_REMARK] [varchar](30) NULL DEFAULT (''),
    [ODAT_BOXNO1] [varchar](30) NULL DEFAULT (''),
	[ODAT_REMARK1] [varchar](30) NULL DEFAULT (''),
	[ODAT_FLAG] [varchar](1) NULL DEFAULT (''),
 CONSTRAINT [PK_T2ODAT] PRIMARY KEY CLUSTERED 
(
	[ODAT_DATE] ASC,
	[ODAT_CHASU] ASC,
	[ODAT_CODE] ASC,
	[ODAT_LOTNO] ASC,
	[ODAT_CUST] ASC,
	[ODAT_LOCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF